body{
    background-color:#EAF6F6;
    }
    hr
    {
     height: 100%;
     width: 100%;
    }
    h1{
        color: #66BFBF;
    }
    h3{
        color: #66BFBF;
    }
    hr{
        border-style: none;
       width: 100%;
       border-top-style: dotted;
       border-width: 5px;
       border-color:gray;
    }
    .hh:hover
    {
        background-color:gold;
    }
  .bottom
    {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
       
       
